h1 {
	padding: 0px;
	margin: 0px;
}
h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}
.title {
	font-family:montserrat;
	font-weight:600;
	font-size:70px;
}
.button {
	font-family:montserrat;
	font-size:18px;
	background-color: #0f466a;
	border-radius:4px;
}
.funcButton {
	font-family:montserrat;
	font-size:18px;
	background-color: #0f466a;
	border-radius:4px;
}
#team {
	font-family:montserrat;
	font-weight:600;
	font-size:40px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#names {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	font-family:montserrat;
	font-weight:300;
	font-size:25px;
	padding-top: 0px;
	padding-bottom: 0px;
}


